/* Setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

header,
footer,
.hero-section {
    background-color: #1f2937;
    color: #f9faf8;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-left: 50vw;
    padding-right: 50vw;

}

.feature-section,
.cta-section {
    background-color: #f9faf8;
    color: #1f2937;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-left: 50vw;
    padding-right: 50vw;
}

.quote-section {
    background-color: #e5e7eb;
    color: #1f2937;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-left: 50vw;
    padding-right: 50vw;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Header */


header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 990px;
    margin: auto;
}

header div .logo a {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

header div ul {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 16px;
}

/* MAIN */

main {
    margin: 0 auto;
    max-width: 990px
}


/* HERO SECTION */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 1.2;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 0 0 50%;
}

.hero-text h1 {
    font-size: 38px;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 700;
    border: none;
    color: #f9faf8;
    padding: 8px 24px;
    border-radius: 8px;
}

.hero-img {
    flex: 0 0 50%;
}

/* FEATURES SECTION */

.features-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px;
    padding-bottom: 90px;
    width: 860px;
    margin: 0 auto;
    line-height: 1.3;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 0 0 25%;
    padding: 0 16px;
}

.feature img {
    width: 150px;
    height: 150px;
    border: #3882f6 4px solid;
    border-radius: 8px;
}

.feature h2 {
    font-size: 18px;
    text-align: center;
}

.feature p {
    font-size: 14px;
    text-align: center;
}

/* QUOTE SECTION */

.quote-section {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 100px;
    line-height: 1.3;
}

.quote-section blockquote {
    font-size: 32px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    width: 740px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quote-section cite {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

/* CTA SECTION */

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 1.3;
}

.cta-section div {
    background-color: #3882f6;
    padding: 40px;
    border-radius: 8px;
    width: 990px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-section div.cta-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: #f9faf8;
    flex: 1 1 70%;
    padding: 0px;
}

.cta-section div .button {
    flex: 1 1 30%;
}

.cta-section div .button button {
    background-color: #3882f6;
    border: #f9faf8 2px solid;
    border-radius: 8px;
    color: #f9faf8;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: 700;
    
}